/**blue #ccebff
   border grey #d9d9d9
   text grey #686868**/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "compass/css3";
html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    overflow:hidden;
}
body {
    font-size: 14px;
    font-family: "Gill Sans MT";
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 1020px){
    #top .hero .hero-left{
        margin: 0 auto;
        text-align: center;
    }
    #top .hero .hero-left #portrait img{
        width: 25%;
    }
    #top .hero .hero-left .socialButtons{
        margin: 0 auto;
    }
    #top .hero .hero-left .subtitles{
        text-align: center;
    }
}

@media all and (max-width: 1020px){
    .hero-right{
        width: 100%;
        padding-top:10px;
        margin:0 auto;
    }
    .hero-right p{
        margin-bottom: 0px;
    }
    #bot .skills .skills-item{
        width: 100%;
        margin: 0 auto;
    }
    #mid .projects .project-item{
        max-width: 100%;
        margin: 0 auto;
    }
    #mid .projects .project-item .p-right{
        margin: 0 auto;
        max-width:60%;
    }
    #mid .projects .project-item .p-right .picDiv{
        max-width: 100%;
    }
    #mid .projects .project-item .p-right .picDiv img{
        width: 75%;
        margin: 0 auto;
        padding-top: 0px;
        padding-left: 0px;
    }
    #mid .projects .project-item .p-left{
        padding-top: 15px;
    }
    #mid .projects .project-item .p-left p{
        margin-bottom: 0px;
        padding-top: 10px;
    }
}
/*.28572*/
@media all and (max-width: 513px){
    section{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 100%;
    }
    #bot{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        height: 100%;
    }
    #top .hero .heroLeft .download-resume{
        display: block;
        width:100%;
    }
    #top .hero .heroLeft .download-resume .button{
        margin-top: 0px;
    }
    .footer .main-navigation-link{
        font-size:15px;
    }
    .footer{
        height: 50px;
    }
}

@media all and (max-width: 1020px){
    #top .hero .hero-right .secondSubtitles{
        font-size: 18px;
        padding-bottom: 0px;
    }
    #top .hero .hero-left .subtitles{
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #mid .projects .header{
        width:100%;
        margin-bottom: 0px;
        height: 10px;
    }
    #bot .skills .header{
        width:100%;
        margin-bottom: 0px;
        height: 10px;
    }
    #bot .skills .title{
        font-size:20px;
        padding-bottom: 15px;
        width:100%;
    }
    #bot .skills .subtitles{
        font-size: 0px;
        width: 100%;
    }
    #bot .skills .skillsTitle{
        font-size:16px;
    }
    #bot .skills .skills-item p{
        margin-bottom: 0px;
    }
    #bot .skills .skills-item{
        height: 15vh;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #bot .skills .skills-item .skillsTitle{
        padding-bottom: 0px;
    }
    #mid .projects .title{
        font-size: 20px;
        width: 100%;
    }
    #mid .projects .subtitles{
        margin: 0;
        font-size: 0px;
        width: 100%;
    }
    #mid .projects .secondSubtitles{
        font-size:16px;
        padding-bottom: 0px;
    }
    #mid .projects .project-item .p-left p{
        padding-top: 5px;
    }
}

@media all and (max-width: 700px){
    #landingPage .helloThere .subtitles{
        font-size: 30px;
    }
    #landingPage .helloThere .bar{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #landingPage .helloThere .sub-navigation .main-navigation-link{
        font-size: 15px;
    }
}

@media all and (max-width: 450px){
    #landingPage .helloThere .subtitles{
        font-size: 25px;
    }
    #landingPage .helloThere .sub-navigation .main-navigation-link{
        font-size: 15px;
    }
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
.main-navigation{
    opacity:.9;
    z-index:10;
    position:fixed;
    width: 100%;
    background: white;
    height: 60px;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #e6ecff;
    border-bottom: 1px solid #e6ecff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
*/
.sub-navigation{
    max-width: 450px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-navigation-link {
    font-size: 20px;
    color: #4d79ff;
    letter-spacing: 1px;
    margin-right: 15px;
    display: -webkit-box;
    text-align: center !important;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*
.main-navigation-link.hasBorder{
    border-right: 1px solid #4d79ff;
}
*/
.main-navigation-link.isRight{
    margin-left: 15px;
}

.logo {
    max-width: 68px;
    display: block;
}

.link {

    text-decoration: none;

    position: relative;
    display: block;
    cursor: pointer;
}
.link:before, .link:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    top: 50%;
    margin-top: -0.5px;
    background: #4d79ff;
}
.link:before{
    left: -2.5px;
}
.link:after{
    right: 2.5px;
    background: #4d79ff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.link:hover:before{
    background: #4d79ff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.link:hover:after{
    background: transparent;
    width: 100%;
    transition: 0s;
}
.button{
    -webkit-transition:.2s ease-in;
    transition: .2s ease-in;
}
.button:hover{
    cursor: pointer;
    opacity: 0.8;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.socialButtons a:first-child {
    padding: 4px 4px 4px 0px
}
.socialButtons a {
    padding: 4px;
}

.helloThere {
    max-width: 1000px;
    margin: auto;
    line-height: 1.5em;
}

.helloThere .subtitles{
    font-size: 50px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    padding-bottom: 5px;
}

.bar{
    margin-top:60px;
    margin-bottom:50px;
    border-top: 1px;
    max-width: 360px;
    border-top:1px solid #4d79ff;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #e6ecff;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

#landingPage {
    height: 100vh;
    padding-top: 240px;
    overflow:hidden;
}

#top {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow:hidden;
}

#mid {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow:hidden;
}

#bot {
    height: 100vh;
    display:flex;
    align-items: center;
    overflow:hidden;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.hero-left{
    max-width: 450px;
}
.hero-right{
    max-width: 450px;
}

p{
    font-size: 14px;
    color: #686868;
    margin-top:0;
    margin-bottom: 10.857px;
    letter-spacing: .5px;
    font-weight: 100;
}

@media all and (max-width: 1020px)
{
    p {
        font-size: 12px;
    }
}

.hero-right p{
    padding-top: 10px;
}

.subtitles{
    font-family: "Gill Sans MT";
    font-size: 28px;
    color: #4d79ff;
    font-weight:bolder;
    letter-spacing: 1px;
    text-align: left;
}
.secondSubtitles{
    font-family: "Gill Sans MT";
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 24px;
    color: #686868;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.title {
    font-family: "Gill Sans MT";
    font-weight: bolder;
    margin: 0;
    font-size: 44px;
    color: #686868;
    letter-spacing: 1px;
    line-height: 0.4em;
    max-width:1000px;
}
.skillsTitle{
    font-family: "Gill Sans MT";
    font-weight: lighter;
    font-size: 22px;
    color: #4d79ff;
    text-align: left;
    letter-spacing:1px;
    margin:0;
    padding-bottom:5px;
}
.header {
    height: 50px;
    padding:0;
    max-width:1000px;
    margin:0 auto;
    margin-bottom:30px;
}
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1000px;
    margin: 0 auto;
    position:absolute;
    bottom:0;
    display: flex !important;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
    max-height: 90px;
}

.socialButtons{
    max-height:16px;
    max-width: 400px;
    margin-bottom:21.58px;
}
.fa{
    margin-right:2px;
    padding: 5px;
    font-size: 10px;
    max-width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    opacity: .8;
}
.fa-linkedin{
    /**margin-left: 95px; /**For center alignment**/
    background: #007bb5;
    color: white;
}
.fa-github{
    background:black;
    color:white;
}
.fa-google{
    background:#dd4b39;
    color:white;
}
/** IF I WANT TO CENTER ALIGN PICTURE, REMOVE THIS **/

.picDiv img{
    display: block;
    margin: 0 auto;
    padding-top: 71.56px;
}


.download-resume {
    /* Rectangle 3: */
    display: inline-block;
    margin-top: 20px;
    background: #4d79ff ;
    /* Download Resume: */
    font-family: "Gill Sans MT";
    font-size: 15px;
    /*padding: 15px 50px;*/
    color: #ccebff;
    padding: 18px 0;
    width: 296px;
    text-align: center;
    letter-spacing: 0;
    border-radius: 2px;
}

.project-item{
    font-size: 14px;
    color: #686868;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.p-left{
    max-width:450px;
    padding-top: 30px;
}

/*change color if using image*/
.p-left p{
    color: #686868;
}

.p-left .secondSubtitles{
    color: #686868;
}

.p-right{
    max-width:400px;
    padding-top:20px;
    margin: 0 auto;
    margin-left: 100px;
}

/*change color if using image*/
.projects .title{
    color: #686868;
}

.projects{
    margin: 0 auto;
    max-width:1000px;
}

.skills{
    margin: 0 auto;
    max-width: 1000px;
}

.skill{
    font-size: 14px;
    color: #686868;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width:1000px;
    margin:0 auto;
    padding-top:10px;
}
.skills-item {
    max-width:500px;
    margin:0;
    margin-left: -40px;
}
.skill-header {
    font-weight: bolder;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    height: 35px;
}

#bot .header a{
    color: #4d79ff;
}
#bot .header a:visited{
    color: #4d79ff;
}

.downArrow{
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    bottom: 20px;
    right: 25%;
    left: 50%;
    margin-left: -500px;
    text-align: center;
    position: absolute;
}

.downArrow img{
    margin: 0 auto;
    display: block;
    opacity: .5;
}

.downArrow a{
    margin: 0 auto;
    display: block;
}

.upArrow{
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 20px;
    right: 25%;
    left: 50%;
    margin-left: -500px;
    text-align: center;
    position: absolute;
}

.upArrow img{
    margin: 0 auto;
    display: block;
    opacity: .5;
}

.upArrow a{
    margin: 0 auto;
    display: block;
}

@media all and (max-width: 1020px){
    .upArrow{
        width: 100%
    }
    .downArrow{
        width: 50%;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

