
/**blue #ccebff
   border grey #d9d9d9
   text grey #686868**/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-size: 20px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-navigation{
    opacity:.9;
    z-index:10;
    position:fixed;
    width: 100%;
    background: white;
    height: 60px;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #e6ecff;
    border-bottom: 1px solid #e6ecff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.sub-navigation{
    max-width: 445px;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-navigation-link {
    color: #686868;
    padding: 15px;
    display: -webkit-box;
    text-align: center !important;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px solid #e6ecff;
}
.logo:hover, .main-navigation-link:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

.logo {
    width: 68px;
    display: block;
}

@media all and (max-width: 400px) {
    .main-navigation h5 {
        top: 7px;
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    -webkit-transition:.2s ease-in;
    transition: .2s ease-in;
}
a:hover {
    cursor: pointer;
    opacity: 0.8;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.socialButtons a:first-child {
    padding: 4px 4px 4px 0px
}
.socialButtons a {
    padding: 4px;
}

section {
    padding-top: 140px;
    padding-bottom: 70px;
    border-bottom: 1px solid #e6ecff;
    padding-left: 30px;
    padding-right: 30px;
}

#top {
    padding-top: 240px;
    height: 100vh;
    margin: 0 auto;
}

#mid {
    height: 100vh;
}

#bot {
    height: 90vh;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.hero-left{
    width: 400px;
}
.hero-right{
    width: 500px;
}

p{
    font-size: 14px;
    color: #686868;
    margin-top:0;
    margin-bottom: 10.857px;
}

.hero-right p{
    padding-top: 15px;
}

.subtitles{
    font-family: Roboto;
    font-size: 26px;
    color: #4d79ff;
    font-weight:300;
    text-align: left;
}
.secondSubtitles{
    font-family: Roboto;
    font-size: 22px;
    color: #686868;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.title {
    font-family: Roboto;
    font-weight: bold;
    margin: 0;
    font-size: 44px;
    color: #686868;
    letter-spacing: 0;
    line-height: 0.4em;
    max-width:1000px;
}
.skillsTitle{
    font-family: Roboto;
    font-size: 26px;
    color: #4d79ff;
    text-align: left;
    font-weight:bold;
    letter-spacing:1px;
    margin:0;
    padding-bottom:5px;
}
.header {
    height: 50px;
    padding:0;
    max-width:1000px;
    margin:0 auto;
    margin-bottom:30px;
}
.footer {
    padding: 30px 30px 30px 30px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
    height: 90px;
}

.socialButtons{
    max-height:16px;
    max-width: 400px;
    margin-bottom:21.58px;
}
.fa{
    margin-right:2px;
    padding: 5px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    opacity: .8;
}
.fa-linkedin{
    /**margin-left: 95px; /**For center alignment**/
    background: #007bb5;
    color: white;
}
.fa-github{
    background:black;
    color:white;
}
.fa-google{
    background:#dd4b39;
    color:white;
}
/** IF I WANT TO CENTER ALIGN PICTURE, REMOVE THIS **/

.picDiv img{
    display: block;
    margin: 0 auto;
    padding-top: 71.56px;
}


.download-resume {
    /* Rectangle 3: */
    display: inline-block;
    margin-top: 20px;
    background: #4d79ff ;
    /* Download Resume: */
    font-family: Roboto;
    font-size: 15px;
    /*padding: 15px 50px;*/
    color: #ccebff;
    padding: 18px 0;
    width: 296px;
    text-align: center;
    letter-spacing: 0;
    border-radius: 2px;
}

.project-item{
    font-size: 14px;
    color: #686868;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.p-left{
    width:400px;
    padding-top: 30px;
}
.p-right{
    width:400px;
    padding-top:30px;
    padding-left:50px;
    margin: 0 auto;
}

.skill{
    font-size: 14px;
    color: #686868;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
}
.skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width:1000px;
    margin:0 auto;
    padding-top:10px;
}
.skills-item {
    max-width:500px;
    margin:0;
    margin-left: -40px;
}
.skill-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    height: 35px;
}

#bot .header a{
    color: #4d79ff;
}
#bot .header a:visited{
    color: #4d79ff;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
